body {
    margin: 5vh 300px;
}

.uvas-shapes {
    width: 300px;
    float: left;
    shape-outside: polygon(2px 250px, 31.16% 98.75%, 54.19% 89.92%, 68.32% 85%, 76.19% 76.07%, 92.05% 75.25%, 101.02% 72.96%, 96.65% 49.8%, 100.68% 38.37%, 97.37% 30.39%, 354px 51px, 87.81% 10.65%, 71.39% 7.09%, 62.48% 0.49%, 0.44% -0.6%);
}